module.exports = {
    //SYSTEM LOGIN
    target: {
        username: 'username',
        password: 'password',
		//KEEP THIS ERROR TEXT UNCHANGED
        errorText: 'No reports for this day.'
    },
    //USE YOUR GOOGLE GMAIL ACCOUNT
    smtp: {
        username: 'login',
        password: 'pass'
    },
    //E-MAIL CONFIGURATION
    mail: {
        from: 'from@mail.com' or 'Your Name <from@mail.com>',
        to: 'to@mail.com'
    },
    //URL TO SLACK WEBHOOKS SERVICE
	//SET TO EMPTY STRING IF YOU HAVE NO SLACK CHANNEL.
    slack: {
        webhook: 'https://hooks.slack.com/services/...'
    },
    //SERVICE THAT WE ARE USING TO REPORT
     service: "https://change_to_reporting_site.com"
}